*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/*/build/
/captures
/Gemfile*
.externalNativeBuild
.cxx
local.properties
.project
.settings
.classpath
.kotlin
recommendation-system/data/*
recommendation-system/models/*
*/__pycache__/*
*/*.pyc

# Firebase
google-services.json
app/google-services.json